Flask_WTF==1.0.1
pandas==1.4.2
tensorflow==2.9.0
deepface==0.0.75
werkzeug==2.1.2
opencv_contrib_python==4.5.5.64
WTForms==3.0.1
Flask_MySQLdb==1.0.1
Flask==2.1.2
Flask_Cors==3.0.10
numpy==1.22.4
wget==3.2
python_docx==0.8.11
coolname==1.1.0
object_detection==0.0.3
Flask-Session==0.4.0
Flask-Mail==0.9.1
objective==0.0.13